* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}
.card {
  display: flex;
  gap: 20px;
  background: #a4deef;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 12px 60px black;
  max-width: 700px;
  align-items: flex-start;
}
.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 14px;
  border-color: rgb(0, 0, 0);
  border-style: outset;
  box-shadow: 0 35px 85px #126775;
}
.profile img:hover {
  border-radius: 20px;
  border-color: rgb(46, 47, 47);
  border-style: outset;
  box-shadow: 0 15px 45px #0c8bbe;
}
.info h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #696868;
  margin: 6px 0 12px;
}
.info h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #111;
}
.info p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 16px;
}
.social a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 14px;
  border-radius: 10px;
  background: lavender;
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}
.social a:hover {
  background: #2563eb;
  color: #fff;
}
