* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(105deg, #257b86, #181e2b);
}
.card {
  display: flex;
  gap: 30px;
  background: #7dbbce;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 12px 80px rgb(2, 218, 247);
  max-width: 700px;
  align-items: flex-start;
}
.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 14px;
  border-color: rgb(0, 0, 0);
  border-style: outset;
  box-shadow: 0 45px 95px #00363e;
}
.profile img:hover {
  border-radius: 20px;
  border-color: rgb(46, 47, 47);
  border-style: outset;
  box-shadow: 0 15px 45px #0c8bbe;
}
.info h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #504c4c;
  margin: 6px 0 12px;
}
.info h2:hover {
  color: #000;
  font-weight: 500;
}
.info h1 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #111;
}
.info h1:hover {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  cursor: none;
  text-decoration: solid;
}
.info p {
  color: #232323;
  line-height: 1.5;
  margin-bottom: 16px;
}
.info p:hover {
  color: #000;
}
.social a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 14px;
  border-radius: 10px;
  background: rgb(166, 211, 223);
  color: #011c56;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}
.social i {
  font-size: 1rem;
  padding-right: 3px;
  font-weight: 600;
}
.social a:hover {
  background: #79d0f8;
  color: #0c0265;
  border-radius: 15px;
  border-style: groove;
  border-color: rgb(52, 159, 225);
}
@media (max-widht: 700px) {
  .card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .profile img {
    height: 110px;
    width: 110px;
  }
  .info h1 {
    font-size: 1.5rem;
  }
  .info h2 {
    font-size: 0.9rem;
  }
  .social a {
    margin: 8px 6px;
  }
}
